
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>INtroduction</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/css/fontAwesome.css">
        <link rel="stylesheet" href="static/css/hero-slider.css">
        <link rel="stylesheet" href="static/css/owl-carousel.css">
        <link rel="stylesheet" href="static/css/datepicker.css">
        <link rel="stylesheet" href="static/css/tooplate-style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
<!--
Tooplate 2112 Brunch
https://www.tooplate.com/view/2112-brunch
-->
<body>
 
    <div class="wrap inner-header">
        <header id="header">
            <div class="container-fluid">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <div class="logo">
                        <a href="index.html"><img src="../static/img/Cipher_Logo_FINAL.png" width="148px" height="42px" alt="Brunch Template"></a>
                    </div>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="index.html">Home</a></li>
                            <li><a href="/logon">SignUp</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </header>
    </div>


    <div class="heading-page">
        <div class="container">
            <div class="col-md-12">
                <h2>CIPHER</h2>
                <div class="line-dec"></div>
            </div>
        </div>
    </div>


    <div class="contact-intro">
        <div class="container">
            <div class="col-md-12">
                <h2 class="hidden-sm hidden-xs">COLOR IMAGE STEGANOGRAPHY</h2>
                <h2 class="hidden-lg hidden-md">COLOR IMAGE STEGANOGRAPHY</h2>
                <span>A columnar transposition cipher is used on a secret image.</span>
                <p>Steganography is the practice of hiding a secret message in something that is not secret. But cyberattackers use steganography to do more than share messages.</p>
                <br><p>LSB steganography changes the last bit of each of those bytes to hide one bit of data. So, to hide one megabyte of data using this method, you'll need an eight-megabyte image file.</p>
                <div class="blue-border-button">
                    <a href="https://portswigger.net/daily-swig/what-is-steganography-a-complete-guide-to-the-ancient-art-of-concealing-messages">View More</a>
                </div>
            </div>
        </div>
    </div>


    <div class="contact-form">
        <div class="container-fluid">
            <div class="col-md-4">
                <div class="text-content">
                    <div class="inside-content">
                        <h4>**Stega** is a Python-Flask based Web App ehich serves the purpose of a Steganograhy tool which includes the functionality of following techniques in a single application:</h4>
                        <p>
                            - 📃 | 🖼️ Image Steganography
                            - 🎵 Audio Steganography 
                            - 📹 Video Steganography
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="right-content">
                    <div id="contact">
                    <form action="/message" method="GET">
                        <div class="col-md-4 col-md-offset-2">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <input name="email" type="text" class="form-control" id="email" placeholder="Email..." required="">
                            </fieldset>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <fieldset>
                                <button type="submit" id="form-submit" class="btn">Send Message</button>
                            </fieldset>
                        </div> 
                    </form>
                    </div>                
                </div>
            </div>
            <div class="col-md-12">
                <div id="map">
                	<!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>  
    </div>


    


    <footer>
        <div class="sub-footer">
            <div class="container">
                <div class="col-md-12">
                    <p>Copyright &copy; 2021
                    
                    - Design: <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                </div>
            </div>
        </div>
    </footer>


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>
    
    <script src="static/js/datepicker.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
    
</body>
</html>